[submodule "externals/zstd"]
	path = externals/zstd
	url = https://github.com/facebook/zstd.git
[submodule "externals/xxHash"]
	path = externals/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "externals/lz4"]
	path = externals/lz4
	url = https://github.com/lz4/lz4.git
